/*
   Design responsive  : Minh Duc ;
   Standard version   : 0.0001 ;
*/
@media only screen and (min-width: 320px) and (max-width: 374px)
{
    #setting-slider{
        opacity: 1;
        width: 100%;
    }
    .border-bg-left, .border-bg-right{
        height: auto;
        width: auto;
    }
    #setting-slider .active{display: block !important;}
    #setting-slider .carousel-control-prev-1, #setting-slider .carousel-control-prev-2, #setting-slider .carousel-control-prev-3, #setting-slider .carousel-control-prev-4,
    #setting-slider  .carousel-control-next-1,#setting-slider  .carousel-control-next-2, #setting-slider  .carousel-control-next-3, #setting-slider  .carousel-control-next-4{
        display: none;
    }
    .profile, #card-left-1, #card-left-2, #card-left-3, #card-left-4, #main-right, #card-right-1, #card-right-2, #card-right-3, #card-right-4{
        padding: 2rem 1rem !important;
    }
    .carousel-control-prev-1, .carousel-control-prev-2, .carousel-control-prev-3, .carousel-control-prev-4{
        left: 0;
        display: none;
    }
    .carousel-control-next-1, .carousel-control-next-2, .carousel-control-next-3, .carousel-control-next-4{
        right: 0;
        display: none;
    }
    .main-description i{
        font-size: 1em;
    }
}


@media only screen and (min-width: 374px) and (max-width: 424px)
{
    #setting-slider{
        opacity: 1;
        width: 100%;
    }
    #setting-slider .active{display: block !important;}
    #setting-slider .carousel-control-prev-1, #setting-slider .carousel-control-prev-2, #setting-slider .carousel-control-prev-3, #setting-slider .carousel-control-prev-4,
    #setting-slider  .carousel-control-next-1,#setting-slider  .carousel-control-next-2, #setting-slider  .carousel-control-next-3, #setting-slider  .carousel-control-next-4{
        display: none;
    }
    .profile   .carousel-control-prev-1 , #card-left-1 .carousel-control-prev-2, #card-left-2 .carousel-control-prev-3,
    #card-left-3 .carousel-control-prev-4, #card-left-4  .carousel-control-next-1, #main-right  .carousel-control-next-1,
    #card-right-1  .carousel-control-next-2, #card-right-2  .carousel-control-next-3, #card-right-3 .carousel-control-next-4, #card-right-4{
        display: none;
    }

    .profile, #card-left-1, #card-left-2, #card-left-3, #card-left-4, #main-right, #card-right-1, #card-right-2, #card-right-3, #card-right-4{
        padding: 2rem 1rem !important;
    }
    .carousel-control-prev-1, .carousel-control-prev-2, .carousel-control-prev-3, .carousel-control-prev-4{
        left: 0;
    }
    .carousel-control-next-1, .carousel-control-next-2, .carousel-control-next-3, .carousel-control-next-4{
        right: 0;
    }
    .border-bg-left, .border-bg-right{
        height: auto;
        width: auto;
    }
    .main-description i{
        font-size: 1em;
    }
}


@media only screen and (min-width: 425px) and (max-width: 767px)
{
    .container {
        max-width: 540px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 1023px)
{
    .container {
        max-width: 960px !important;
    }

}
@media only screen and (min-width: 1024px) and (max-width: 1439px)
{
    .container {
        max-width: 1140px !important;
    }

}
@media only screen and (min-width: 1440px) and (max-width: 2560px){



}
